#box1{
    border: 1px solid;
    block-size: 300px;
    inline-size: 300px;
    background-color: blue;
}
#box2{
    border: 1px solid;
    block-size: 300px;
    inline-size: 300px;
    background-color: tomato;
}

h1{
    color:blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    color:orange;
    font-family: "Luckiest Guy";
}

.beginbtn{
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}